<form class='add-reminder-form' {{action 'addReminder' on='submit'}}>
  <label class='new-title-label'>
    Title:
    {{input class='input-title' value=title}}
  </label>
  <label class='new-date-label'>
    Date:
    {{input class='input-date' value=date}}
  </label>
  <label class='new-notes-label'>
    Notes:
    {{textarea class='textarea-notes' value=notes}}
  </label>
<button class='add-reminder-submit'>Submit</button>
</form>

{{#link-to 'reminders'}}
  <button class='see-reminders-btn'>
    See All Reminders
  </button>
{{/link-to}}
