<form class="add-reminder-form" {{action 'addReminder' on="submit"}}>
  <label>
    Title:
    {{input class="input-title" value=title}}
  </label>
  <label>
    Date
    {{input class="input-date" value=date}}
  </label>
  <label>
    Notes
    {{textarea class="textarea-notes" value=notes}}
  </label>
<button class="add-reminder-submit">Submit</button>
<!-- added submit to button class and action moved to form solely, I think we had this in another place before, although I can't remember where...-->
</form>
